body{

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#020617,#0f172a);
color:white;

}

header{

display:flex;
justify-content:space-between;
padding:20px 50px;
background:black;

}

nav a{

margin:20px;
color:white;
text-decoration:none;

}

.hero{

height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}

.hero button{

padding:15px 40px;
background:#22c55e;
border:none;
font-size:18px;
border-radius:10px;
cursor:pointer;

}

.section{

padding:80px;
text-align:center;

}

.cards{

display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;

}

.card{

background:rgba(255,255,255,0.05);
padding:30px;
border-radius:15px;
width:250px;
backdrop-filter:blur(10px);

}

.card button{

margin-top:10px;
padding:10px 20px;

}

.video{

display:flex;
justify-content:center;

}

form{

display:flex;
flex-direction:column;
align-items:center;

}

input,textarea{

width:300px;
margin:10px;
padding:10px;

}

footer{

background:black;
text-align:center;
padding:20px;

}
